.ng-valid[required], .ng-valid.required  {
  border-right: 5px solid #2ce014; /* green */
}

.ng-invalid:not(form)  {
  border-right: 5px solid #f20404; /* red */
}

.container {
  width: 800px;
}
.registerHeading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 770px;
}
.col-xs-3{
  margin-right: 10px;
}

