<!-- Bootstrap row -->

<div class="container">
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]=false
  [zoomControl]="false" (mapClick)="mapClicked($event)">

  <agm-direction [origin]="origin" [destination]="destination">
  </agm-direction>
  <agm-marker
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker (m,i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [markerDraggable]="m.draggable"
    (dragEnd)="markerDragEnd(m, $event)">
    <agm-info-window let mId=m.id>
      <b>{{m.address}}</b>
      <p></p>
      <b>Rating: {{avgRating | async}} Stars </b>
      <br>

      <!--<label>Review</label>-->
      <!--<textarea class="form-control" [(ngModel)]='m.id'  placeholder = "Please enter your review..."></textarea>-->
      <br>
      <label><b>Review</b></label>
      <textarea class="form-control" [(ngModel)]='model.review'  placeholder = "Please enter your review... (max 255 characters)"></textarea>
      <!--<app-marker-rating></app-marker-rating>-->
      <fieldset class="rating">
        <input type="radio" [name]="ratingName" value="5" [checked]="model.rating==5" />
        <label title="Great" (click)='model.rating=5'>5 stars</label>

        <input type="radio" [name]="ratingName" value="4" [checked]="model.rating==4" />
        <label title="Good" (click)='model.rating=4'>4 stars</label>

        <input type="radio" [name]="ratingName" value="3" [checked]="model.rating==3" />
        <label title="OK" (click)='model.rating=3'>3 stars</label>

        <input type="radio" [name]="ratingName" value="2" [checked]="model.rating==2" />
        <label title="Poor" (click)='model.rating=2'>2 stars</label>

        <input type="radio" [name]="ratingName" value="1" [checked]="model.rating==1" />
        <label title="Abysmal" (click)='model.rating=1'>1 star</label>
      </fieldset>
      <br>
      <button>
        <a class="deleteMarker" (click)="deleteMarker(m.id)" onclick = "history.go(0)">Delete</a>
      </button>
      <button type="button" id="buttonStars" onclick = "history.go(0)" (click)="saveMarkerRating(m)">Submit</button>
    </agm-info-window>
  </agm-marker>
</agm-map>

    <div class="row" id="body-row">
      <!-- Sidebar -->
      <div id="sidebar-container" class="sideb"><!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
        <!-- Bootstrap List Group -->
        <ul class="list-group">
          <!-- Separator with title -->
          <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
            <h3>{{title}}</h3>
          </li>
          <!-- /END Separator -->
          <!-- Menu with submenu -->
          <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark text-white list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-dashboard fa-fw mr-3"></span>
              <span class="menu-collapsed">Add Marker</span>
              <span class="submenu-icon ml-auto"></span>
            </div>
          </a>
          <!-- Submenu content -->
          <div id='submenu1' class="collapse sidebar-submenu">
            <a class="list-group-item list-group-item-action bg-dark text-white">
              <span class="menu-collapsed"> </span>
              <div class="panel">
                <div class="panel panel-default">
                  <div class="panel-heading">
                  </div>
                  <div class="panel-body">
                    <form (submit)= "addMarker()">
                      <label>LocationName </label>
                      <input type="text" class="inputfloat" [(ngModel)]="address" (setAddress)="getAddress($event)" name="address" googleplace>
                      <br>
                      <label>Latitude</label>
                      <input type="text"  class="inputfloat" [(ngModel)]="locationService.latitude" name="markerLat">
                      <br>
                      <label>Longitude</label>
                      <input type="text"  class="inputfloat" [(ngModel)]="locationService.longitude" name="markerLng">
                      <br>
                      <label>Draggable</label>
                      <select [(ngModel)]="markerDraggable" name="markerDraggable"  class="inputfloat" >
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                      </select>
                      <!--<input type="submit" value="Place Marker!">-->
                      <button class="btn btn-lg btn-primary btn-block" type="submit" routerLink="map" onclick = "history.go(0)"> Place Marker! </button>
                    </form>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-dark text-white list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-user fa-fw mr-3"></span>
              <span class="menu-collapsed">Get Directions!</span>
              <span class="submenu-icon ml-auto"></span>
            </div>
          </a>
          <div id='submenu2' class="collapse sidebar-submenu">
            <a class="list-group-item list-group-item-action bg-dark text-white">
              <span class="menu-collapsed"></span>
              <div class="panel">
                <div class="panel panel-default">
                  <div class="panel-heading">
                  </div>
                  <div class="panel-body">
                    <form (submit)= "getDirection()">
                      <label>Origin</label>
                      <input type="text" class="inputfloat" [(ngModel)]="addressOrigin" (setAddress)="getAddressOrigin($event)" name="addressDirection" googleplace>
                      <br>
                      <label>Latitude</label>
                      <input type="text" class="inputfloat" [(ngModel)]="locationService.latitudeOrigin" name="originLat">
                      <br>
                      <label>Longitude</label>
                      <input type="text" class="inputfloat" [(ngModel)]="locationService.longitudeOrigin" name="originLng">
                      <br>
                      <br>
                      <label>Destination</label>
                      <input type="text" class="inputfloat" [(ngModel)]="addressDest" (setAddress)="getAddressDest($event)" name="addressDirection" googleplace>
                      <br>
                      <label>Latitude</label>
                      <input type="text" class="inputfloat" [(ngModel)]="locationService.latitudeDest" name="destinationLat">
                      <br>
                      <label>Longitude</label>
                      <input type="text" class="inputfloat" [(ngModel)]="locationService.longitudeDest" name="destinationLng">
                      <br>
                    </form>
                  </div>
                </div>
              </div>
            </a>

          </div>
          <a href="reviewpage" class="bg-dark text-white list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-tasks fa-fw mr-3"></span>
              <span class="menu-collapsed">Reviews</span>
            </div>
          </a>

          <a href="#" class="bg-dark text-white list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-calendar fa-fw mr-3"></span>
              <span class="menu-collapsed">LogOut</span>
            </div>
          </a>
        </ul><!-- List Group END-->
      </div><!-- sidebar-container END -->

      <!--&lt;!&ndash; Logo &ndash;&gt;-->
      <!--<li class="list-group-item logo-separator d-flex justify-content-center">-->
      <!--<img src='https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg' width="30" height="30" />-->
      <!--</li>-->

      <!-- MAIN -->

    </div><!-- body-row END -->

</div>

<script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="js/autocomplete.js"></script>
