<div class="tableBackground">
<nav>
  <button type="button" class="btn btn-dark" routerLink="/map" routerLinkActive="active">Go back to map</button>
</nav>
<br>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Location</th>
    <th scope="col">Review</th>
    <th scope="col">Rating</th>
    <th scope="col">Username</th>
  </tr>
  </thead>
  <td>{{AvgRating}}</td>
  <tr *ngFor="let markerRating of markerRatings">
    <td>{{markerRating.marker.address}}</td>
    <td>{{markerRating.review}}</td>
    <td>{{markerRating.rating}}</td>
    <td>{{markerRating.user.username}}</td>
  </tr>
</table>
</div>

